* {
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
}

.box-header {
  background-color: hsla(174, 53%, 38%, 1);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  padding-right: 80px; /*ajustar para telas pequenas*/
  padding-left: 80px;
  /*aumentar o padding right para telas mariores que 900px */
  align-items: center;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
.navbar li {
  display: inline;
  text-decoration: none;
  align-items: center;
}
.navbar a {
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

.navbar a:hover{
color:rgb(137, 246, 129);
}

.logo-header {
  width: 200px;
  height: auto;
  /*mudar size para resposividade depois apos 500 de width para um size da imagem para 81px*/
}

.box-footer {
  background-color: hsla(174, 53%, 38%, 1);
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
} /*ajustar o footer depois*/
.logo-footer {
  width: 200px;
  height: auto;
  /*mudar size para resposividade depois*/
}
.ul-mid {
  margin: 30px;
}
.li-a-mid {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.li-a-mid:hover{
  color:rgb(137, 246, 129);
  }
.box-footer ul {
  margin: 8px;
  padding: 0;
}
.box-footer ul li {
  padding: 3px;
}

.li-a-right {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: white;
  font-size: 15px;
}
.li-a-right:hover{
  color:rgb(137, 246, 129);
  }
.ul-right {
  width: 240px;
}

.li-right {
  padding: 6px;
  border: 1px solid white;
  border-radius: 47px;
  text-align: center;
  margin: 0 0 5px 0;
  padding: 0;
}

@media only screen and (max-width: 460px) {
  .box-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-header {
    padding-right: 0;
    padding-left: 8px;
    flex-wrap: wrap;
  }

  .logo-header {
    width: 90px;
    justify-content: center;
    padding-left: 0px;
  }

  .logo-footer {
    width: 140px;
  }
}

@media only screen and (max-width: 630px) {
  .logo-header {
    width: 90px;
  }
  .box-header {
    flex-direction: column;
    padding-right: 0px;
    padding-left: 8px;
    padding-top: 6px;
    flex-wrap: nowrap;
  }
  .logo-footer {
    width: 163px;
  }
  .navbar a {
    text-align: center;
    text-decoration: none;
    margin-right: 19px;
    font-weight: 700;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 350px) {
  .navbar ul {
    padding: 0;
  }
  .navbar a {
    padding-right: 5px;
  }
  .box-header {
    padding-top: 12px;
  }
}
