.article-first {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 120px 120px 283px;
  gap: 50px;
}
.educacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.educacao h1 {
  font-size: 60px;
  color: hsla(340, 100%, 63%, 1);
}

.educacao p {
  font-size: 27px;
  color: hsla(0, 0%, 33%, 1);
}
.educacao ul {
  border: 2px solid hsla(340, 100%, 63%, 1);
  border-radius: 62px;
  width: 213px;
  padding: 10px 25px;
  align-items: center;
}
.educacao ul:hover{
  background: rgba(255, 66, 129, 0.114);
}
.educacao ul li a {
  text-decoration: none;
  color: hsla(340, 100%, 63%, 1);
  font-size: 27px;
}

.img-first img {
  width: 399px;
  height: auto;
}
.second-block {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.second-article {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding: 63px 0 58px 0;
}
.second-divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 341px;
}
.second-divs h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: hsla(340, 100%, 63%, 1);
}
.second-divs p {
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  width: 303px;
}
.second-divs div img {
  height: 350px;
}

.imagem-chata {
  height: 300px;  
}
.btn-start-now {
  color: white;
  border: 2px solid hsla(340, 100%, 63%, 1);
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 62px;
  padding: 9px 23px;
  background-color: hsla(340, 100%, 63%, 1);
}
.link-comecar {
  text-decoration: none;
}
.btn-start-now:hover{
  background-color: rgb(193, 2, 66)
}

.third-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third-article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1100px;
  column-gap: 76px;
  row-gap: 76px;
  padding: 49px 10px 62px 45px;
}
.text-box-third {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.third-block-cites {
  display: flex;
  width: 471px;
  gap: 26px;
}
.third-title h3 {
  font-weight: 700;
  font-size: 37px;
  color: #009688;
  text-transform: uppercase;
  margin-right: 168px;
    padding: 26px 418px 0 0;
}



.third-article div cite {
  font-style: normal;
  font-weight: 500;
}

.fourth-coteiner {
  max-width: 1440px;
}
.fourth-block {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
}
.fourth-title h4 {
  color: hsla(174, 100%, 29%, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 37px;
  padding: 26px 493px 0 0;
}
.div-fourth div {
  width: 319px;
  height: 193px;
  background-color: #c4c4c4;
}
.boxes-fourth h5 {
  color: hsla(174, 100%, 29%, 1);
  font-size: 27px;
  margin: 5px 0 0 0;
}
.boxes-fourth p {
  font-size: 18px;
  margin: 5px 0 0 0;
}
.btn-all-posts {
  border: 2px solid hsla(340, 100%, 63%, 1);
  border-radius: 62px;
  width: 213px;
  padding: 10px 25px;
  align-items: center;
  margin: 56px 0 66px 0;
}
.btn-all-posts:hover{
  background: rgba(255, 66, 129, 0.114);
}
.coteiner-btn-fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-all-posts a {
  text-align: center;
  text-decoration: none;
  color: hsla(340, 100%, 63%, 1);
  font-weight: 400;
  font-size: 25px;
}
.fourth-a {
  text-decoration: none;
}

@media only screen and (max-width: 1440px) {
  .article-first {

    margin: 96px;
    }
  
}
@media only screen and (max-width: 1300px) {
  .second-article {
    gap: 89px;
}
.fourth-title h4 {
  padding: 26px 0 0 0;
}
}
@media only screen and (max-width: 1050px) {
  .article-first {
    /*arrumar a max-width*/
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1200px) {
  .img-first img {
    width: 340px;
    height: auto;
}
.educacao h1 {
  text-align: center;
}
.educacao p {
  text-align: center;
}
  .third-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 509px;
  }
  .second-article {
    flex-wrap: wrap;
}
.third-title h3 {
  padding: 70px 0 0 0;
  flex-direction: column;
  margin: 0;
}
.fourth-coteiner {
  padding: 0 60px 0 60px;
}
.fourth-title h4 {
  text-align: center;
}
}
@media only screen and (max-width: 950px) {
  .fourth-title h4 {
    text-align: center;
  }
  .third-title h3 {
    font-weight: 700;
    font-size: 37px;
    color: #009688;
    text-transform: uppercase;
    text-align: center;
}
}

@media only screen and (max-width: 780px) {
  .article-first {
    /*arrumar a max-width*/
    flex-direction: column-reverse;
    align-self: center;
    margin: 74px;
  }
  .third-block-cites {
    width: 347px;
}
  .third-article {
    flex-direction: column;
  }

  .educacao h1 {
    font-size: 60px;
  }
  .educacao p {
    font-size: 27px;
  }
  .educacao ul {
    width: 213px;
    padding: 10px 25px;
  }
  .educacao ul li a {
    font-size: 27px;
  }

  .img-first img {
    width: 256px;
    height: auto;
  }
  .second-block {
    background-color: #f7f7f7;
    padding: 17px 150px 8px 150px;
}
.third-article {
  width: 474px;
}
.third-title h3 {

  font-size: 27px;

}
.section-fourth {
  
  padding: 0 0px 0 0px;
}
}

@media only screen and (max-width: 635px) {

  .second-divs h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: hsla(340, 100%, 63%, 1);
    text-align: center;
}


}
@media only screen and (max-width: 600px) {
  .article-first {
    /*arrumar a max-width*/
    flex-direction: column-reverse;
    align-self: center;
    margin: 74px;
  }

  .educacao h1 {
    font-size: 35px;
  }
  .educacao p {
    font-size: 17px;
  }
  .educacao ul {
    width: 136px;
    padding: 10px 25px;
  }
  .educacao ul li a {
    font-size: 17px;
  }

  .img-first img {
    width: 256px;
    height: auto;
  }
  .second-block {
    background-color: #f7f7f7;
    padding: 17px 150px 8px 150px;
    text-align: center;
  }
  .btn-all-posts {
    padding: 8px 13px;
  }
  .third-block-cites {
    width: 347px;
}
.text-box-third {
  width: 224px;
}
}

@media only screen and (max-width: 500px) {
  .article-first {
    margin: 51px;
  }
  .fourth-title h4 {
    font-size: 27px;
  }
  
  .third-article {
    padding: 49px 0px 29px 11px;
    width: 336px;
}

.third-block-cites {
  width: 298px;
}
.second-divs {
  width: 302px;
}
.second-block {
  background-color: #f7f7f7;
  padding: 17px 0px 8px 0px;
  text-align: center;
}
.fourth-coteiner {
  padding: 0;
}

}
  @media only screen and (max-width: 350px) {
    .article-first {
      margin: 74px 0 20px 0;
    }
    .second-divs p {
      
      width: 250px;
    }
    .div-fourth div {
      width: 226px;
      height: 193px;
      background-color: #c4c4c4;
  }
  .boxes-fourth{
    width: 225px;
  }

  .third-article {
    padding: 49px 0px 29px 0px;
    width: 262px;
}
.third-block-cites {
  width: 242px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-divs {
  width: 234px;
}
.imagem-chata {
  height: 273px;
}
  }
@media only screen and (max-width: 350px) {
  .div-fourth div {
    width: 213px;
  }
  
  }
  .img-first img {
    width: 183px;
  }
  .text-box-third {
    width: 181px;
}
